﻿@{
    ViewBag.Title = "Проект \"Склад под контролем\"";
}
<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</div>
<p>
    Это веб-приложение реализовано на ASP.NET MVC 5 + MSSQL. Клиентская часть с использованием Bootstrap.
</p>

<p>
    Авторизация Asp.Net Identity, валидация при авторизации, регистрации.
</p>
<p>
    Разграничение прав доступа к информации по ролям: "Администратор - просмотр пользователей", "Менеджер - добавление/редактирование/удаление", "Клиент - чтение",
    "Гость - страницы, не имеющие данных из БД".
    Список ролей указывается в файле конфигурации.
</p>
<p>
    При доступе к запрещенному разделу пользователь видит страницу входа в систему.
</p>
<p>
    Реализовано создание, редактирование, удаление  товаров и категорий товаров с валидацией.
</p>