﻿@model WarehouseMvc.ViewModels.Home.HomeIndexViewModel
@{
    ViewBag.Title = "Склад товаров - под контролем";
}

@*@if (!Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>@ViewBag.Title</h1>
    </div>
    <p>Информацию могут просматривать только авторизованные пользователи.</p>
    <p>@Html.ActionLink("Выполните вход", "Login", "Account"), чтобы получить доступ к информации </p>
}
else
{*@
    <div class="row">
        <div class="col-md-4">
            <h2>Пользователи</h2>
            <p> Пользователей: @Model.UserCount</p>
            <p>@Html.ActionLink("К списку пользователей", "ShowUsers", "Account", null, new { @class = "btn btn-default" })</p>
            <p>Доступно администраторам</p>
        </div>
        <div class="col-md-4">
            <h2>Категории</h2>
            <p>Категорий: @Model.CategoryCount</p>
            <p>@Html.ActionLink("К списку категорий", "Index", "Category", null, new { @class = "btn btn-default" })</p>
            <p>Клиентам доступен просмотр, менеджерам - редактирование</p>
        </div>
        <div class="col-md-4">
            <h2>Товары</h2>
            <p>Товаров: @Model.ProductCount</p>
            <p>@Html.ActionLink("К списку товаров", "Index", "Product", null, new { @class = "btn btn-default" })</p>
            <p>Клиентам доступен просмотр, менеджерам - редактирование</p>
        </div>
    </div>
@*}*@
