﻿
<footer>
    <div class="col-sm-6">
        <p>&copy; @DateTime.Now.Year – "Склад под контролем"</p>
    </div>

    <div class="col-sm-6 text-right">
        <!-- Yandex.Metrika informer -->
        <a href="https://metrika.yandex.ru/stat/?id=33831934&amp;from=informer"
           target="_blank" rel="nofollow">
            <img src="https://informer.yandex.ru/informer/33831934/3_0_ECECECFF_CCCCCCFF_0_pageviews"
                 style="width: 88px; height: 31px; border: 0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try {Ya.Metrika.informer({ i: this, id: 33831934, lang: 'ru' });return false} catch (e) {}" />
        </a>
        <!-- /Yandex.Metrika informer -->
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function () {
                    try {
                        w.yaCounter33831934 = new Ya.Metrika({
                            id: 33831934,
                            clickmap: true,
                            trackLinks: true,
                            accurateTrackBounce: true,
                            ut: "noindex"
                        });
                    } catch (e) {
                    }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else {
                    f();
                }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript>
            <div>
                <img src="https://mc.yandex.ru/watch/33831934?ut=noindex" style="position: absolute; left: -9999px;" alt="" />
            </div>
        </noscript>
        <!-- /Yandex.Metrika counter -->
    </div>
</footer>