﻿@model List<WarehouseMvc.Models.AccountModel>

@{
    ViewBag.Title = "Пользователи сайта";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</div>

<table class="table">
    <tr>
        <th>Email</th>


        <th>Имя пользователя</th>

        <th>@*Роли пользователя*@</th>

        @*<th>Действия</th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

            @*<td>
                @foreach (var role in item.Users)
                {
                    @Html.DisplayFor(modelItem => role)
                    <br />
                }
            </td>*@

            @*В следующих версиях
                <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>*@
        </tr>
    }

</table>
