﻿@model WarehouseMvc.ViewModels.Product.ProductViewModel

@{
    ViewBag.Title = "Добавить товар в категорию "  ;
}
<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</div>
<p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentCategory.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentCategory.Description)
        </dd>

    </dl>
</p>


@using (Html.BeginForm("CreateProductByCategory", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @*@Html.LabelFor(model => model.Product.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Product.CategoryId, new { Value = Model.ParentCategory.Id })
                @*@Html.DisplayFor(model => model.ParentCategory.Name)*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Product.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.Description, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product.Description, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Product.Description, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.Images, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="button" class="addImgInputBtn btn btn-default" value="Добавить изображение" />
                <div class="imgInputContainer"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <hr />
    @Html.ActionLink("К списку товаров в категории", "Details", "ParentCategory", new { id = Model.ParentCategory.Id })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
