﻿@model WarehouseMvc.ViewModels.Product.CreateProductViewModel

@{
    ViewBag.Title = "Добавить товар";

    List<SelectListItem> listItems = new List<SelectListItem>();
    foreach (var item in Model.Categories)
    {
        listItems.Add(new SelectListItem
        {
            Text = item.CategoryName,
            Value = item.CategoryId.ToString()
        });
    }
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</div>

@if (Model.Categories.Count > 0)
{
    using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Product.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Product.CategoryId, listItems, "-- Выберите категорию --", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Product.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Product.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Product.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Product.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Product.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Product.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Product.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Product.Images, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="button" class="addImgInputBtn btn btn-default" value="Добавить изображение" />
                    <div class="imgInputContainer"></div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Добавить" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
}
else
{
    <p>Нет категорий, доступных для добавления продукта. Сначала @Html.ActionLink("создайте категорию", "Create", "Category"). </p>
}
<div>
    <hr />
    @Html.ActionLink("К списку продуктов", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
