﻿@model WarehouseMvc.Models.Product.ProductModel

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Name);
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Images)
        </dt>

        <dd>
            @foreach (var img in Model.Images)
            {
                <img src="@img.Path" title="@img.Name" alt="Изображение" style="width:300px; " class="imagePreview" />
            }
        </dd>

    </dl>
</div>
<div>
    <hr />
    @Html.ActionLink("Добавить", "Create", new { categoryId = Model.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("Удалить", "Delete", new { id = Model.Id },
            new { onclick = "return confirm('Удалить товар?');", @class = "btn btn-danger" })
    <br />
    @Html.ActionLink("К списку товаров", "Index")
</div>
