﻿@model WarehouseMvc.ViewModels.Product.CreateProductViewModel

@{
    ViewBag.Title = "Редактировать товар";

    List<SelectListItem> listItems = new List<SelectListItem>();
    foreach (var item in Model.Categories)
    {
        listItems.Add(new SelectListItem
        {
            Text = item.CategoryName,
            Value = item.CategoryId.ToString(),
            Selected = (Model.Product.CategoryId == item.CategoryId)
        });
    }
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</div>

@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Product.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Product.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Product.CategoryId, listItems, "-- Выберите категорию --", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Product.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Product.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.Description, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product.Description, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Product.Description, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.Images, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="button" class="addImgInputBtn btn btn-default" value="Добавить изображение"/>
                <div class="photoContainer">
                    @foreach (var image in Model.Product.Images)
                    {
                        <img src="@image.Path" title="@image.Name" alt="Изображение" style="width:300px; " class="imagePreview" />
                    }
                </div>
                <div class="imgInputContainer"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <hr />
    @Html.ActionLink("К списку товаров", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
