﻿@model WarehouseMvc.ViewModels.Product.ProductListViewModel

@{
    ViewBag.Title = "Все товары";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
    <p>
        Всего товаров : @Model.TotalCount
        <br />
        Товаров на странице : @Model.ProductItems.Count
    </p>
</div>


@if (Model.ProductItems.Count > 0)
{
    <table class="table">
        <tr>
            <th></th>
            <th>
                Товар
            </th>
            <th>
                Описание
            </th>
            <th>
                Категория
            </th>
            <th>
                Действия
            </th>
        </tr>
        @foreach (var item in Model.ProductItems)
        {

            <tr>
                <td>
                    @if (item.Product.Images.Count > 0)
                    {
                        <img src="@item.Product.Images[0].Path" title="@item.Product.Images[0].Name" alt="Изображение" style="width:100px; height:100px;"/>
                    }
                </td>
                <td>
                    @Html.ActionLink(item.Product.Name, "Details", new { id = item.Product.Id })
                </td>
                <td>
                    @item.Product.Description
                </td>
                <td>
                    @Html.ActionLink(item.ParentCategory.Name, "Details", "Category", new { id = item.ParentCategory.Id }, null)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Product.Id })

                    @Html.ActionLink("Удалить", "Delete", new { id = item.Product.Id },
                    new { onclick = "return confirm('Удалить товар?');" })

                </td>
            </tr>
        }

    </table>
}
<div>
    <hr />
    @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-default" })
</div>
