﻿@model WarehouseMvc.ViewModels.Product.ProductsOfCategoryViewModel

@{
    ViewBag.Title = "Категория " + '"' + Model.ParentCategory.Name + '"';
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
    <p>
        Всего товаров в категории : @Model.Products.Count
    </p>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentCategory.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentCategory.Description)
        </dd>

    </dl>


    @if (Model.Products.Count() > 0)
    {
        <h3>Товары в данной категории</h3>
        <table class="table">
            <tr>
                <th></th>
                <th>
                    Наименование
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Действия
                </th>
            </tr>

            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @if (item.Images.Count > 0)
                        {
                            <img src="@item.Images[0].Path" title="@item.Images[0].Name" alt="Изображение" style="width:100px; height:100px;" />
                        }
                    </td>
                    <td>
                        @Html.ActionLink(item.Name, "Details", "Product", new {id = item.Id}, null)
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @Html.ActionLink("Изменить", "Edit", "Product", new {id = item.Id}, null)

                        @Html.ActionLink("Удалить", "Delete", "Product", new {id = item.Id},
                            new {onclick = "return confirm('Удалить товар?');"})
                    </td>
                </tr>
            }
        </table>
    }

</div>
<div>
    <hr />
    @Html.ActionLink("Добавить товар в категорию", "CreateProductByCategory", "Product", 
    new { categoryId = Model.ParentCategory.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("Изменить", "Edit", new { id = Model.ParentCategory.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("Удалить", "Delete", new { id = Model.ParentCategory.Id }, 
    new { onclick = "return confirm('Удалить категорию и все товары в ней?');", @class= "btn btn-danger" })
    <br/>
    @Html.ActionLink("К списку категорий", "Index")
</div>
