﻿@model WarehouseMvc.ViewModels.Category.CategoryListViewModel

@{
    ViewBag.Title = "Категории товаров";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
    <p>
        Всего категорий : @Model.TotalCount
        <br />
        Категорий на странице : @Model.Categories.Count
    </p>
</div>


@if (Model.Categories.Count() > 0)
{
<table class="table">
    <tr>
        <th>
            Наименование
        </th>
        <th>
            Описание
        </th>
        <th>
            Количество товаров
        </th>
        <th>
            Действия
        </th>
    </tr>

@foreach (var item in Model.Categories)
{
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.Id }) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCount)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) 
           
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, 
           new { onclick = "return confirm('Удалить категорию и все товары в ней?');" })
        </td>
    </tr>
}

</table>
}
<div>
    <hr />
    @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-default" })
</div>